@font-face {
    font-family: 'GraphikLCG_Regular';
    src: url('../fonts/GraphikLCG-Regular.woff');
}

@font-face {
    font-family: 'GraphikLCG_Semibold';
    src: url('../fonts/GraphikLCG-Semibold.woff');
}

html {
    font-size: 20px;
}

body {
    font-family: 'GraphikLCG_Regular', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1330px;
}

header .container {
    max-width: 1360px;
}

section {
    background-color: #fff;
}


a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FF6336;
}

.button {
    text-align: center;
    background: #FF6336;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.8rem;
}

.button:hover {
    color: #000000;
}

.flex__wrapper {
    display: flex;
}

/*header*/
header {
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
}

.menu {
    display: flex;
    min-height: 95px;
    flex-wrap: wrap;
    align-items: center;
}

nav, .btn__wrapper {
    display: inline-flex;
}

.logo {
    margin-right: 51px;
    min-height: 40px;
    padding-top: 10px;
}

nav {
    gap: 42px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-style: normal;
    font-weight: 400;
}

header .btn__wrapper {
    margin-left: auto;
    gap: 10px;
    font-weight: 600;
    font-size: 0.8rem;
}


header .button {
    min-width: 120px;
    padding: 6px 25px;
}

.btn__white {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    color: #000000;
}

.btn__white:hover {
    border: 1px solid #FF6336;
    color: #FF6336;
}

.section__main article p a,
.section__promo article p a,
.section__boost article a {
    text-decoration: underline #000000;
}

.section__main article p a:hover,
.section__promo article p a:hover,
.section__boost article a:hover {
    text-decoration: underline #FF6336;
}

/*section__presentation*/

.section__presentation {
    padding: 129px 0 172px 0;
}

.section__presentation.p__basic {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.section__presentation .flex__wrapper {
    align-items: flex-end; /*логичненее поставить align-items: center но тогда будет не как на макете*/
}

.section__presentation .left {
    width: 552px;
}

.section__presentation .right {
    max-width: 684px;
}

.section__presentation .right img {
    width: 100%;
}

h1 {
    font-family: 'GraphikLCG_Semibold', 'sans-serif';
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 3.5rem;
    margin-bottom: 50px;

}

.section__presentation p:first-of-type {
    max-width: 470px;
    margin-bottom: 50px;
}

.section__presentation .btn__wrapper {
    gap: 10px;
    margin-bottom: 25px;
}

.section__presentation .button {
    min-width: 160px;
    padding: 13px 25px;
}

.note {
    font-weight: 400;
    font-size: 0.75rem;
}

/*section__partners*/
.section__partners {
    background: #FF9C7D;
    padding: 108px 0 104px 0;
}

.section__partners .flex__wrapper {
    flex-direction: column;
    align-items: center;
}

.middle {
    font-family: 'GraphikLCG_Semibold', 'sans-serif';
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 720px;
    text-align: center;
    margin-bottom: 70px;
}

.bottom {
    display: inline-flex;
    gap: 103px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*section__main*/
.flex__article {
    display: flex;
    align-items: center;
    gap: 138px;
    margin-bottom: 250px;
}

.section__main article:last-child {
    margin-bottom: 0;
}

.section__main {
    padding: 90px 0 150px 0;
}

.section__main article h4 {
    font-family: 'GraphikLCG_Semibold', 'sans-serif';
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 30px;
}

.section__main p:first-of-type {
    max-width: 490px;
}

.section__main p {
    max-width: 520px;
    margin-bottom: 30px;
}

.start {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

/*section__promo*/
.section__promo {
    padding: 120px 0 147px 0;
    background: #FFF8E4;
}

.section__promo .flex__wrapper {
    flex-wrap: wrap;
    gap: 75px;
    justify-content: space-evenly;
}

.section__promo h3 {
    font-family: 'GraphikLCG_Semibold', 'sans-serif';
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 80px;
}

.section__promo article {
    max-width: 330px;
    text-align: center;

}

.section__promo h5 {
    font-weight: 600;
    font-size: 1.25rem;;
    line-height: 1.75rem;
    margin-bottom: 23px;
}

.section__promo img {
    margin-bottom: 23px;
}

.section__promo p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

/*section__boost*/

.section__boost {
    padding: 154px 0 178px 0;
}

.section__boost .flex__wrapper {
    gap: 31px;
    justify-content: space-between;
    align-items: baseline;
}

.section__boost h3 { /*cтранно, что не по центру,но так в макете*/
    font-family: 'GraphikLCG_Semibold', 'sans-serif';
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 75px;
    line-height: 3rem;
}

.section__boost h5 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 34px;
}

.section__boost article {
    max-width: 407px;
}

.section__boost p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 25px;
}

.section__boost img {
    margin-bottom: 50px;
}

/*section__cutaway*/

.section__cutaway {
    padding: 53px 0 105px 0;
    background: #C9E8F2;
}

.section__cutaway .flex__wrapper {
    justify-content: space-between;
}


.section__cutaway .p__basic {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 920px;
    margin-bottom: 23px;
}

.section__cutaway .note {
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 7px;
}

/*section__software*/
.section__software {
    padding: 90px 0 88px 0;
    background: #DABC98;
}

.section__software .flex__wrapper {
    justify-content: space-between;
}

.section__software .left {
    display: inline-flex;
    gap: 67px;
}

.section__software h3 {
    font-family: 'GraphikLCG_Semibold', 'sans-serif';
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.5rem;
    max-width: 461px
}

.section__software .right {
    border-left: 1px solid #000000;
    padding: 20px 70px;
}

.section__software .right img:first-child {
    margin-right: 70px;
}

/*section__tools*/

.section__tools {
    text-align: center;
    padding: 186px 0 162px 0;
}

.section__tools .flex__wrapper {
    flex-direction: column;
    align-items: center;
}

.section__tools h3 {
    font-family: 'GraphikLCG_Semibold', 'sans-serif';
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 3.75rem;
    max-width: 790px;
}

.section__tools p {
    font-weight: 400;
    font-size: 1.25rem;;
    line-height: 1.5rem;
    max-width: 539px;
    margin-bottom: 25px;
}

.section__tools img {
    margin-bottom: 32px;
}

.section__tools .button {
    padding: 15px 20px;
    min-width: 193px;
}

/*.section__trial*/

.section__trial {
    background: #FF9C7D;
    text-align: center;
    padding: 120px 0 160px 0;
}

.section__trial .flex__wrapper {
    flex-direction: column;
    align-items: center;
}

.section__trial h2 {
    font-family: 'GraphikLCG_Semibold', 'sans-serif';
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 3.75rem;
    max-width: 784px;
    margin-bottom: 30px;
}

.section__trial p {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 54px;
}

.section__trial .button {
    font-weight: 600;
    font-size: 0.85rem;
    padding: 15px 40px;
    min-width: 160px;

}

.btn__black {
    color: #FFFFFF;
    background: #000000;
}

.btn__black:hover {
    color: #FF9C7D;
}

/*footer*/
h6 {
    font-weight: 600;
    line-height: 1.25rem;
    margin-bottom: 21px;
}

.column a {
    font-size: 0.75rem;
    line-height: 0.75rem;
    margin-bottom: 15px;
    display: block;
}

footer {
    padding: 92px 0 48px 0;
}

footer .left {
    max-width: 300px;
    margin-right: 20px;
}

footer .left a {
    font-weight: 600;
}


footer .left p {
    margin-bottom: 11px;
}

footer .left h5 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 28px;
}

footer .right {
    padding: 0 0 0 10px;
    display: inline-flex;
    min-width: 605px;
    column-gap: 100px;
    justify-content: space-around;
}

.photo {
    margin-bottom: 31px;
}

footer .logo {
    max-width: 56px;
    margin-bottom: 10px;
}

.column {
    max-width: 176px;
}

footer .flex__wrapper {
    justify-content: space-between;
    padding-bottom: 95px;
}

.flex__wrapper.bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    width: 100%;
    padding: 50px 76px 0 0;
}

.footer__logo {
    display: inline-flex;
}

.footer__logo img {
    width: 72px;
    height: 21px;
    margin-right: 14px;
}

.footer__logo p {
    max-width: 301px;

}

.bottom p {
    font-size: 0.6rem;
    line-height: 0.75rem;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 18px;
    }

    .container {
        max-width: 890px;
    }

    header .container {
        max-width: 920px;
    }

    /*header*/
    .logo {
        margin-right: 5px;
    }

    nav {
        margin: 0 auto;
        gap: 18px;
    }

    header .button {
        min-width: 100px;
        padding: 5px 20px;
    }

    /*section__presentation*/
    .section__presentation {
        padding: 100px 0 142px 0;
    }

    .section__presentation .right {
        min-width: 410px;
    }

    .section__presentation .button {
        min-width: 125px;
        padding: 10px 20px;
    }

    /*section__partners*/
    .section__partners {
        padding: 100px 0 96px 0;
    }

    .bottom {
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /*section__main*/
    .flex__article {
        gap: 15px;
        margin-bottom: 90px;
    }

    .section__main {
        padding: 90px 0 90px 0;
    }

    .section__main img {
        width: 100%;
    }

    .left .correct {
        max-width: 443px;
    }

    .right .correct {
        max-width: 410px;
    }

    /*section__promo*/
    .section__promo {
        padding: 100px 0 120px 0;
    }

    .section__promo h3 {
        line-height: 3rem;
    }

    /*section__boost*/
    .section__boost {
        padding: 90px 0 135px 0;

    }

    .section__boost .flex__wrapper {
        gap: 31px;
        justify-content: space-between;
        align-items: baseline;
    }

    .section__boost h5 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 34px;
    }

    .section__boost article {
        max-width: 250px;
    }

    .section__boost article img {
        width: 100%;
    }

    .section__boost p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
    }

    .section__boost img {
        margin-bottom: 50px;
    }

    /*section__cutaway*/
    .section__cutaway {
        padding: 53px 0 65px 0;
    }

    .section__cutaway .flex__wrapper {
        gap: 12px;
    }

    /*section__software*/
    .section__software {
        padding: 35px 0 35px 0;
    }

    .section__software .flex__wrapper {
        justify-content: space-between;
        align-items: center;
    }

    .section__software .left {
        display: inline-flex;
        gap: 30px;
    }

    .section__software .cake {
        min-width: 170px;
    }

    .section__software .left img {
        width: 100%;
    }

    .section__software .right {
        padding: 20px 50px;
    }

    .section__software .right img:first-child {
        margin: 0 15px 15px 0;
    }

    /*section__tools*/
    .section__tools {
        padding: 110px 0 105px 0
    }

    .section__tools img {
        width: 100%;
    }

    .section__tools .button {
        padding: 12px 15px;
        min-width: 167px;
    }

    /*.section__trial*/
    .section__trial {
        padding: 100px 0 120px 0;
    }

    .section__trial .button {
        padding: 12px 20px;
        min-width: 140px;
    }

    /*footer*/
    footer {
        padding: 65px 0 30px 0;

    }

    footer .left {
        min-width: 260px;
        margin-right: 50px;
    }

    footer .right {
        min-width: 400px;
        column-gap: 30px;
        flex-wrap: wrap;
    }

    .photo img {
        width: 100%;
    }

    .column {
        flex-basis: 170px;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }

    body {
        font-size: 1.2rem;
    }

    .container {
        max-width: 630px;
        min-width: 360px;
    }

    header .container {
        max-width: 660px;
    }

    .menu {
        min-height: 78px;
    }

    .logo {
        margin-right: 20px;
        min-height: 40px;
        padding-top: 10px;
    }

    nav {
        display: none;
    }

    header .btn__wrapper {
        margin-left: auto;
        gap: 10px;
        font-weight: 600;
        font-size: 0.8rem;
    }

    header .button {
        min-width: 90px;
        padding: 4px 15px;
    }

    /*section__presentation*/
    .section__presentation {
        padding: 72px 0 85px 0;
    }

    .section__presentation .flex__wrapper {
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .section__presentation .right {
        min-width: 340px;
    }

    h1 {
        margin-bottom: 40px;
    }

    .section__presentation p:first-of-type {
        margin-bottom: 40px;
    }

    .section__presentation .btn__wrapper {
        gap: 10px;
        margin-bottom: 25px;
    }

    .section__presentation .button {
        min-width: 110px;
        padding: 8px 10px;
    }

    .left {
        margin-bottom: 20px;
    }

    .note {
        font-size: 0.8rem;
    }

    /*section__partners*/
    .section__partners {
        padding: 90px 0 90px 0;
    }

    .bottom {
        gap: 55px;

    }

    /*section__main*/
    .section__main {
        padding: 90px 0 90px 0;
    }

    .flex__article {
        gap: 35px;
        margin-bottom: 60px;
        flex-wrap: wrap;
    }

    .flex__article:nth-child(even) {
        flex-direction: column-reverse;
    }

    .left .correct,
    .right .correct,
    .section__main p:first-of-type {
        max-width: 767px;
    }

    .section__main p {
        max-width: 767px;
        margin-bottom: 30px;
    }


    /*section__promo*/
    .section__promo {
        padding: 65px 0 95px 0;
    }

    .section__promo .flex__wrapper {
        gap: 70px;

    }

    .section__promo p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    /*section__boost*/
    .section__boost {
        padding: 154px 0 178px 0;
    }

    .section__boost .flex__wrapper {
        gap: 50px;
        flex-wrap: wrap;
    }

    .section__boost h3 {
        text-align: center;
    }

    .section__boost article {
        max-width: 660px;
        text-align: center;
    }

    .section__boost img {
        margin-bottom: 50px;
        max-width: 300px;
    }

    /*section__cutaway*/
    .section__cutaway {
        padding: 50px 0 95px 0;
    }

    .section__cutaway .right {
        margin-bottom: 30px;
    }

    .section__cutaway .flex__wrapper {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    .section__cutaway .note {
        font-size: 0.95rem
    }

    /*section__software*/
    .section__software {
        padding: 60px 0 65px 0;
    }

    .section__software .flex__wrapper {
        flex-wrap: wrap;

    }

    .section__software .left {
        align-items: center;
    }

    .section__software .right {
        display: flex;
        border-top: 1px solid #000000;
        border-left: none;
        width: 100%;
        align-items: baseline;
        justify-content: center;
        gap: 20px;
    }

    .section__software .right img:first-child {
        margin: 30px 70px 0 0;
    }

    /*section__tools*/
    .section__tools {
        padding: 130px 0 110px 0;
    }

    .section__tools .button {
        padding: 15px 18px;
        min-width: 148px;
    }

    /*.section__trial*/
    .section__trial {
        padding: 118px 0 156px 0;
    }

    .section__trial .button {
        padding: 12px 32px;
        min-width: 150px;
    }

    /*footer*/
    footer .left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 767px;
        margin-right: 0;
        margin-bottom: 50px;
    }

    footer .right {
        max-width: 560px;
        gap: 50px;
    }

    .photo {
        max-width: 300px;
    }

    footer .logo {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }


    footer .flex__wrapper {
        padding-bottom: 65px;
        flex-wrap: wrap;
    }

    .flex__wrapper.bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid black;
        width: 100%;
        padding: 50px 0 0 0;
        gap: 10px;
    }
}