//colors

$black: #000000;
$orange: #FF6336;
$lightOrange: #FF9C7D;
$white: #fff;
$whiteDark: #FFF8E4;
$gray: #CCCCCC;
$lightBlue: #C9E8F2;

//fonts

$fontFamilyRegular: 'GraphikLCG_Regular', 'sans-serif';
$fontFamilySemibold: 'GraphikLCG_Semibold', 'sans-serif';
$fontNormal: 400;
$fontBold: 600;

//breakpoints

$maxWidthFull: 1330px;
$maxWidthTablet: 890px;
$maxWidthMobile: 630px;
